* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;

}
.Main {
    display: flex; 
	/* width: calc(110% - 300px); */
	/* left: 100px; */
	/* min-height: 100vg; */
/* background: var(--white); */
	/* transition: 0.5s; */
	background-color: #287bff;
	border-bottom:2px solid rgb(255, 255, 255); 

	
}

.top-bar {

    width: 300px;
    margin-top: 32px;
	margin-left: 350px;

	
}


.cardPho {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.cardPho .Iphotos  {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  border-radius: 50%;
  border: 4px solid #4070f4;
}
/* .bContainer { */
   /* min-height: 100vh;  */
   /* display: flex;  */
 /* height: 250px;  */
 /* flex-direction: column;  */
/* align-items: center; */
/* justify-content: space-evenly;  */
/* flex-wrap: wrap;  */
    /* border: 4px solid rgb(41, 218, 67);  */
   /* align-items: center;  */
  /* justify-content: center;  */
  /* background-color: rgb(21, 19, 19); */
   /* padding-left: 380px;  */
  /* background-color: #efefef;  */
  
 /* }  */

/* .bContainer {

 background-color: #efefef;
 } */


.slideContent {
  margin: 0 40px;
   border: 4px solid rgb(0, 34, 204);
}
/* .AllCards{
     border: 4px solid rgb(218, 191, 41);
} */


.slideContainer{
   /* min-height: 100vh; */
  /* display: flex;
flex-direction: row;

flex-wrap: wrap; */
   /* border: 4px solid rgb(218, 41, 41); */
   /* max-width: 1120px; */
  width: 100%;
  
  /* padding: 40px 0; */
  /* display: flex;
  flex-direction: column; */
}
.cardsDoctors{
  width: 310px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.703);
  /* display: flexbox; */
  display:inline-flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgb(0 0 0 / 59%);

/* border: 4px solid rgb(218, 41, 41); */
  
}
.cardContent {
    display: flex;
  flex-direction: column;

  /* flex-wrap: wrap; */
 align-items: center;
   /* justify-content: space-between; */
  /* padding: 10px 14px; */
                         /* position: relative; */
  /* row-gap: 5px; */
  padding: 10px 14px;
  /* border: 4px solid rgb(220, 185, 13); */
}
.imContent {
   display: flex;
   flex-direction: column; 
  align-items: center; 
   /* justify-content: space-between; */
/* row-gap: 5px; */
    position: relative;

  padding: 20px 0;
  /* border: 4px solid rgb(97, 218, 41); */
}

/* .imContent {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
  border: 4px solid rgb(41, 197, 218);
} */

.nameCard {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  
}

.descriptionCard {
  font-size: 14px;
  color: #7c7c7c;
  text-align: center;
  
}

.btnCard {
  border: 2px solid #265df2;
  font-size: 16px;
  color: #FFF;
  padding: 8px 80px;
  background-color: #4070F4;
  border-radius: 6px;
  /* margin-bottom: 3px; */
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: rgb(0, 0, 255);
  
}

 .btnCard:hover {
  background: #265DF2; 

} 

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: #0885ebf1; */
  background-color: #4070F4;
  left: 0;
  top: 0;
  border-radius: 25px 25px 0 25px;
    
}



 /* heighttttttttt */

.AllCards {        
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: space-evenly;
  /* align-items: center; */
  flex-wrap: wrap;
  padding-left: 315px;
  padding-top: 50px;
 /* background-color: #b0a0a065; */
  background-color:#f6faf5;
  height: 900px;

}


.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  /* background-color: red; */
  background-color: #4070F4;
 }

 .overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #FFF;
} 




.btn1CardInfos{
  /* display: inline; */
  border: 2px solid #265df2;
  font-size: 16px;
  color: #4070F4;
  padding: 1px 50px;
  /* background-color: #4070F4; */
  /* background-color:#f8aa00; */
  border-radius: 6px;
 
  margin: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  /* border-bottom: rgb(0, 0, 255); */
   /* height: 55px; */
 
}

 /* .btn1CardInfos:hover {
  background: #265DF2; 

}  */


.btn2CardInfos {
  /* display: inline; */
  border: 2px solid #265df2;
  font-size: 16px;
  color: #fff;
  padding: 1px 45px;
 
  background-color: #4070F4;
  border-radius: 6px;
  margin: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: rgb(0, 0, 255);
   /* height: 60px, */

    

/*   
  padding: 8px 16px; */
 
 

  
}

 .btn2CardInfos:hover {
  background: #265DF2; 
  color:rgb(255, 255, 255);
 

} 

.BtnCards{
  display: flex;
  justify-content: space-between;
  width: 100%;
 

}

.contentAll {
max-width: 1000px;
margin:0 auto;
	

}

.selectBox {

position: relative;
/* padding-top:1px; */
left:7%;
  /* margin-right: 130px; */
  width: 250px;
 
}





.selectBox select{ 
width: 250px;
height: 42px;
padding:10px 20px;
line-height: 18px;
font-size: 16px;
/* width: 100%; */
-webkit-appearance: none;
appearance: none;
border-radius: 17px;
border: 3px solid #d8a20e;

}



.btn1CardInfos:hover{

  background-color: #fff;
  border: 2px solid #4070F4;
  /* color: #4070F4; */
  
}


.selectBox:after{
content: "";
position: absolute;
right:8px;

top:50%;
margin-top:-4px;
margin-top:8px solid rgb(36, 132, 216);
border-left: 6px solid transparent;
border-right: 6px solid transparent;
}


.selectBox:hover{
color:rgb(36, 132, 216);

}



.selectBox select:focus{
border:2px solid rgb(35, 112, 228);

}



/* bar search by name */


.searchbySpecialities {
	
display: inline;
height: 100px;
/* width: 340px; */
/* margin: 0 200px; */
color: #fff;
width: 145px;

/* border: 1px solid rgb(203, 0, 0); */
}




.searchbySpecialitiesInputOne{
border: none;
outline:none;
border-radius: 25px 0 0 25px;

	padding-left: 20px;
	font-size: 18px;
  	height: 39px;
	width: 200px;
  /* position: absolute; */
  /* top: 50%;
 border: 1px solid rgb(208, 5, 5);
  /* transform: translate(-50%, -50%); */
  /* border: 1px solid rgb(208, 5, 5); */
 
}

.searchbySpecialitiesInputTwo{
  position: relative;
  /* border: 1px solid rgb(208, 5, 5); */
  border-radius: 0 25px  25px  0;
border: none;
outline:none;
cursor: pointer;
background: #ffc107;
color: #fff;

	height: 40px;
	width: 100px;
  
}

.searchbyname {
	
display: inline;
height: 100px;
/* width: 100px; */
/* margin-left: 50px; */
color: #fff;


/* width: calc(100% - 300px); */
/* transition: 0.5s; */
/* min-height: 100vg; */
/* background: var(--white); */
/* left: 400px; */
}



.searchbynameInputOne {
	
/* width: 100%; */
border: none;
outline:none;
border-radius: 25px 0 0 25px;

	padding-left: 20px;
	font-size: 18px;
  	height: 39px;
	width: 200px;
  

}



.searchbynameInputTwo {

	
	       /* border-radius: 17px; */
	/* padding: 5px 20px; */
            	/* padding-left: 70px; */
	            /* font-size: 18px; */
	            /* outline: none; */
             	/* border: 1px solid var(--black2); */
	           /* margin-top: 31px; */
	/* margin-left: 105px; */
	           /* background-color: #fff; */
	  position: relative;
  border-radius: 0 25px  25px  0;
border: none;
outline:none;
cursor: pointer;
background: #ffc107;

color: #fff;
	height: 40px;
	width: 100px;
	
}




