.Vid {
  text-align: center;
  height: 750px;
  margin-left: 350px;
  margin-top: 5px;
}

.Vid .textVid {
  padding: 20px;
  margin-top: 450px;
  margin-left: 520px;
  display: inline-block;
  border: 2px solid #eee;
  border-radius: 5px;
}

.Vid .textVid .texth1 {
  color: white;
  display: inline-block;
  /* background-color: tomato; */
  background-color: #ffc107;
  padding: 10px 20px;
}

.Vid .textVid .textP {
  color: #000;
  width: 400px;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  text-align: left;
}

.Vid video {
  position: absolute;
  height: 750px;
  margin-left: 300px;
  z-index: -1;
  top: 0;
  left: 0;
}
