/* calendrier */

/* * {
   

   

box-sizing: border-box;

}






body{
    
background: #fff;

}




 /* margin:0;
    padding: 0; */
/* .Calendrier2 {
color: #136aac;
    
padding-top:150px;
margin-left: 150px;
 

    	
}




.Calendrier3
 {
color: rgb(88, 86, 86);

margin-top: 10px;
margin-left: 450px;
padding-left:30px;
font-family: roboto;
 
 

}


.mainCalender {

    text-align: center;
}

.appointment {
    height : 40px;
    width: 200px;
    font-size: 32px;
} */ 

.demoDoc-app-calendar{
    /* padding-left: 350px; */
    /* border: 2px solid red; */
    float: right;
    width:1220px;
}



.fc-event, .fc-event-dot {
    background-color: #ffc107;

}

.fc-event {
    position: relative;
    display: block;
    font-size: .85em;
    line-height: 1.4;
    border-radius: 3px;
    border: 1px solid #ffc107;
}