.creativeSite {
  height: 550px;
  background-image: url("../../../public/images/creative/about-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.creativeSite .creativeInfo {
  padding-top: 20px;
  
  width: 45%;
  float: right;
}

.creativeSite .creativeInfo .SiteInfoTitle {
  font-weight: bold;
  font-size: 50px;
  color: #1475d0;
}

.creativeSite .creativeInfo .SiteInfoTitle span {
  color: #1475d0;
  font-weight: normal;
}

.Site .creativeInfo .NomSite {
  font-size: 40px;
  color: rgb(10, 10, 199);
  margin-bottom: 20px;
  /* padding-left:120px;
  */
}


.NomSite{

      color: #1475d0;
     font-size: 40px;
     padding-left: 120px;
     line-height: 50px;


}

.creativeSite .creativeInfo .DescriptionSite {
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  line-height: 1.8;
}

.creativeSite .creativeInfo .DescriptionSite a {
  text-decoration: none;
}

@media (max-width: 991px) {
  .creativeSite {
    height: auto;
  }
  .creativeSite .creativeInfo {
    width: 100%;
    padding-top: 10px;
    float: none;
  }

  .creativeSite .creativeInfo .NomSite {
    font-size: 30px;
  }
}
